<nav class="c-navbar">
    <div class="container">
        <div class="c-navbar__items">
            <a href="{{ path('homePage') }}"><img src="assets/images/logo.png" class="c-navbar__logo"></a>
            <a href="{{ path('app_login') }}"><button class="c-navbar__login-button">User area</button></a>
        </div>
    </div>
</nav>