.c-login {
    padding-top: 15rem;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.c-login__popup {
    background-color: white;
    -webkit-box-shadow: 10px 10px 31px 9px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 31px 9px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 31px 9px rgba(0,0,0,0.75);
    margin: 0 25%;
    padding: 5rem;
    border-radius: 0.6rem;
}

.c-login__button {
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
}

.c-login__button,
input {
    margin: 2rem 0;
}

.c-login__intro-text {
    text-align: center;
}

label {
    padding-left: 0.5rem;
}

.c-login__left-form {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.c-login__right-form {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}