* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic', sans-serif;
}

img {
    max-width: 100%;
}

.c-navbar {
    background-color: #0074D9;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
}

.c-navbar__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.c-navbar__logo {
    width: 5%;
}

.c-navbar__login-button {
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
    margin: 0.5rem 0;
}

a {
    color: #0074D9;
    text-decoration: none;
}

body {
    background-color: #DDDDDD;
}

.flash {
    position: fixed;
    left: 2.5rem;
    top: 2.5rem;
    animation: fade-in-out 5s forwards;
    padding: 1rem 1rem;
    border-radius: 1rem;
}

.flash__success {
    background-color: #2ECC40;
}

.flash__error {
    background-color: #FF4136;
}

@keyframes fade-in-out {
    0% {opacity: 0; translateY(-10rem)}
    20% {opacity: 1; translateY(0)}
    80% {opacity: 1; translateY(0)}
    100% {opacity: 0; translateY(-10rem);}
}

@keyframes fade-in {
    0% {opacity: 0; translateY(-10rem)}
    100% {opacity: 1; translateY(0)}
}